{% extends "page.html" %}
{% block subtitle %}{{ _('Contact us') }}{% endblock %}
{% block breadcrumb_content %}
  <li class="active"><a href="#">{{ _('Contact Us') }}</a></li>
{% endblock %}


{% block secondary_content %}
<section class="module module-narrow module-shallow">
    <h2 class="module-heading"><i class="icon-medium icon-info-sign"></i></h2>
    <div class="module-content">
        <p>
            {{_('Use this form to obtain information and send us your comments about the open data portal. We will redirect your message to the appropriate resources. All fields are required.')}}
        </p>
        <p>
            {{_('We will answer your email within 48 business hours.')}}
        </p>
    </div>
</section>
{% endblock %}

{% block primary_content %}
<article class="module">
    <div class="module-content">
        <h2>{{ _('Contact Us') }}</h2>
        <p>*{{ _('All fields are required') }}</p>
        {% set categories = [
                {'name': 'Puneti o intrebare', 'value': 'Puneti o intrebare'},
                {'name': 'Transmiteți feedback', 'value': 'Transmiteți feedback'},
                {'name': 'Transmiteți o aplicație pentru publicare', 'value': 'Transmiteți o aplicație pentru publicare'},
                {'name': 'Propuneți o funcționalitate nouă', 'value': 'Propuneți o funcționalitate nouă'},
                {'name': 'Raportați o eroare', 'value': 'Raportați o eroare'},
                {'name': 'Altele', 'value': 'Altele'}
        ] %}
        {% set form_info = [
            {'name': 'contact_us.name', 'control': 'input', 'label': _('Your name')+' *', 'placeholder': _('eg. Joe Bloggs')},
            {'name': 'contact_us.email', 'control': 'input', 'label': _('Your email')+' *', 'placeholder': _('eg. joe@example.com')},
            {'name': 'contact_us.category', 'control': 'select', 'label': _('Category')+' *', 'options': categories , 'selected': 'Puneti o intrebare'},
            {'name': 'contact_us.message', 'control': 'textarea', 'label': _('Your Message')+' *', 'placeholder': _('Hi, My message is ...')}
        ] %}
        <form enctype="multipart/form-data" method="post" action="">
        {% import 'macros/autoform.html' as autoform %}
        {% import 'macros/form.html' as form %}
        {{ form.errors(error_summary) }}
        {{ autoform.generate(form_info, data, errors) }}
        <div class="control-group control-medium controls-text">
            <label class="control-label" for="field-contact-us-nochange">Do not change *</label>
            <div class="controls ">
                <input id="field-contact-us-nochange" type="text" name="contact_us.nochange" value="http://">
            </div>
        </div>

        {% if public_key %}
        <div class="form-group">
            <div class="controls">
                <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                <div class="g-recaptcha" data-sitekey="{{ public_key }}"></div>
        
                <noscript>
                    <div style="width: 304px; height: 352px; position: relative;">
                        <div style="width: 304px; height: 352px; position: absolute;">
                            <iframe src="https://www.google.com/recaptcha/api/fallback?k={{ public_key }}" frameborder="0"
                                scrolling="no" style="width: 304px; height:352px"></iframe>
                        </div>
        
                        <div
                            style="width: 250px; height: 80px; position: absolute; bottom: 21px; left: 25px; margin: 0; padding: 0; right: 25px;">
                            <textarea id="g-recaptcha-response" name="g-recaptcha-response"
                                style="width: 250px; height: 80px; border: 1px solid #c1c1c1;	margin: 0; padding: 0; resize: none;"
                                class="g-recaptcha-response"></textarea>
                        </div>
                    </div>
                </noscript>
            </div>
        </div>
        {% endif %}

        <input type="submit" name="" value="{{ _('Submit') }}">
        </form>
        
        {{c.msg}}
    </div>
    <style>.controls-text{visibility:hidden;height:10px;}</style>
</article>
{% endblock %}
